<!-- Recipe Creation Form -->
        <div class="container mt-5 p-3 rounded-top cstm-light-text card-border">
            <div class="row justify-content-center">
                <div class="col-12 mb-2">
                    <h2>Create Recipe</h2>
                </div>
            </div>
        </div>

            <div class="container lg-card-body rounded-bottom p-5 mb-4">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <form>
                            <div class="mb-3">
                                <label for="recipeName" class="form-label bold">Recipe Name:</label>
                                <input type="text" class="form-control" id="recipeName" required>
                            </div>
                            <div class="mb-3">
                                <label for="ingredients" class="form-label bold">Ingredients:</label>
                                <textarea class="form-control" id="ingredients" rows="5" required></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="directions" class="form-label bold">Instructions:</label>
                                <textarea class="form-control" id="instructions" rows="5" required></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="imageUrl" class="form-label bold">Image URL:</label>
                                <input type="text" class="form-control" id="image" required>
                            </div>
                                <!--<div class="mb-3">
                                <label for="imageUrl" class="form-label bold">Tag:s</label>
                                <input type="text" class="form-control" id="tags" required>
                            </div> -->
                            <button type="submit" class="btn cstm-btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>