 :root {
    --bg: #e9ecf0;
    --dark: #1c416f;
    --light: #81AADE;
    --light2: #eef4ed;
    --accent1: #134074;
    --accent2: #13315c; 
    --shadow: #1e3047;
    --cardbody: #365780;
}


body {
    background-color: var(--bg);
    background-image: url('/public/assets/vecteezy_abstract-seamless-pattern-with-tableware-forks-spoons-and_.jpg');
    background-repeat: repeat;
    background-size: 100%;
}
p {
    color: var(--light2);
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    text-shadow: var(--shadow) 2px 2px 5px;
    letter-spacing: .030em;
    font-size: 4rem;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: var(--shadow) 2px 2px 5px;
    font-weight: 400;
    padding: 15px 0px 0px 0px;
}

h4 {
    font-family: 'Bebas Neue', sans-serif;
    color: var(--light2)
}

h5 {
    font-family: 'Bebas Neue', sans-serif;
    color: var(--shadow)
}

.lg-card-body {
    background: var(--cardbody);
}

.card {
    box-shadow: 7px 7px 5px var(--shadow);
}

.card-text {
    color: var(--shadow);
}

.cstm
{
    background-color: var(--light) !important; 
}

.cstm-light-text {
    background-color: var(--dark) !important; 
    color: var(--light2) !important; 
}

.nav-link {
    color: white !important; 
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}



.cstm-btn {
    color:var(--dark) !important; 
    background-color: var(--light2) !important; 
    border-color: var(--light2);
}

.cstm-btn:hover {
    background: var(--accent1) !important; 
    color: var(--light2) !important; 
    border-color: var(--accent1);
}

.cstm-shadow {
    box-shadow: 7px 7px 5px var(--shadow);
}

.bottom-border {
    border-bottom: 8px solid var(--light);
}

.card-border {
    border-bottom: 6px solid var(--light);
}

.bottom-box {
    bottom: 70px;
    background-color: white;
    padding: 0px 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: var(--shadow);
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
}

.bottom-box-2 {
    bottom: 20px;
    background-color: white;
    padding: 0px 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: var(--shadow);
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
}

.form-label {
    color: var(--light2);
}

.bold {
    font-weight: 700;
}

li {
    color: var(--light2)
}

