/* green/brown palette
:root {
    --bg: #F0EAD2;
    --dark: #6C7E3A;
    --light: #ADC178;
    --light2: #DDE5B6;
    --accent1: #A98467;
    --accent2: #6C584C; 
    --shadow: #302722;
} */

/* blue palette 
:root {
    --bg: #d6e3ee;
    --dark: #1c416f;
    --light: #eef4ed;
    --light2: #3e5c76;
    --accent1: #134074;
    --accent2: #13315c; 
    --shadow: #061323;
}
*/
/* red/pink palette */
:root {
    --bg: #f3f5e9;
    --dark: #d64550;
    --light: #eef4ed;
    --light2: #ea9e8d;
    --accent1: #daefb3;
    --accent2: #eef4d4; 
    --shadow: #3c0919;
}

body {
    background-color: var(--bg);
}


.cstm
{
    background-color: var(--light) !important; 
}

.cstm-light-text {
    background-color: var(--dark) !important; 
    color: var(--light2) !important; 
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: var(--light2) !important; 
}

.cstm-btn {
    color:var(--dark) !important; 
    background-color: var(--light2) !important; 
    border-color: var(--light2);
}

.cstm-btn:hover {
    background: var(--accent1) !important; 
    color: var(--light2) !important; 
    border-color: var(--accent1);
}

.cstm-shadow {
    box-shadow: 10px 10px 5px var(--shadow);
}