<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project #2</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap"
        rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />


    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>

    <!-- Nav -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark pt-5 px-5 cstm-light-text bottom-border">
        <div class="container-fluid align-items-end">
            <a class="navbar-brand" href="#">
                <h1>Project #2</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/myrecipes">My Recipes</a></li>
                    <li class="nav-item"><a class="nav-link" href="/browse">Browse</a></li>
                    <li class="nav-item"><a class="nav-link" href="/newrecipe">+New Recipe</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main -->
    <main class="container container-fluid mx-auto">
        
        <div class="container mt-5 p-3 rounded-top cstm-light-text card-border">
            <div class="row justify-content-center">
                <div class="col-12 mb-2">
                    <h2>Signup</h2>
                </div>
            </div>
        </div>

        <div class="container lg-card-body rounded-bottom p-5 mb-4">
            <div class="row justify-content-center">
                 <!-- Signup Form -->
                 <form class="col-8">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" id="signup-button" class="cstm-btn btn btn-primary">Signup</button>
                </form>
            </div>
        </div>

    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-cE2EE1NLeV1gt1G8v+uA4lD0gGk4zVD1tdJzK3Rt7bk1pR4l5re86ZRQ9DoVJvpt"
        crossorigin="anonymous"></script>
</body>

</html>
